body,
#root {
  font-family: "Fira Code";
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}

.heading-text,
p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.scroll-btn {
  font-family: "Fira Code";

  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #000;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.scroll-btn:hover {
  background-color: #000;
  color: #fff;
}
html {
  scroll-behavior: smooth;
}

.heading-links {
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.heading-links img {
  width: 40px; /* Set the width of the images */
  height: 40px; /* Set the height of the images */
  object-fit: contain; /* Ensures the aspect ratio is maintained */
  margin: 0 10px; /* Adds some space between the icons */
}

.heading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #e0e1dd;
}

.AboutMe {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.AboutMe h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.AboutMe-pfp {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1.5rem;
}

.AboutMe-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.AboutMe-short {
  flex: 1;
  text-align: left;
}

.AboutMe-short ul {
  list-style-type: none;
  padding: 0;
  font-size: 1rem;
  line-height: 1.8;
}

.AboutMe-short ul li {
  margin-bottom: 1rem;
}

.AboutMe-divider {
  width: 2px;
  background-color: #ccc;
  height: auto;
}

.AboutMe-text {
  flex: 2;
  text-align: left;
  font-size: 1rem;
  color: #555;
  line-height: 1.8;
}

.AboutMe-text p {
  margin-bottom: 1.5rem;
}

.Technologies {
  text-align: center;
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

.Technologies h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.Technologies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  list-style-type: none;
  padding: 0;
}

.Technologies-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  color: #555;
}

.Technologies-item svg {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: #007bff;
}

.Technologies-item span {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #333;
}

.Projects {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

.Projects h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Project {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Project-left .Project-content {
  order: 1;
}

.Project-left .Project-image {
  order: 2;
}

.Project-right .Project-content {
  order: 2;
}

.Project-right .Project-image {
  order: 1;
}

.Project-content {
  flex: 1;
  padding: 1rem;
  text-align: left;
}

.Project-image {
  flex: 1;
  padding: 1rem;
}

.Project-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

h3 {
  font-size: 1.8rem;
  color: #333;
}

p {
  font-size: 1.1rem;
  color: #666;
}

@media (max-width: 768px) {
  .Project {
    flex-direction: column;
  }

  .Project-content,
  .Project-image {
    order: unset;
    text-align: center;
  }
}
